<h1>Editing Indicadoresacumulado</h1>

<%= render 'form', indicadoresacumulado: @indicadoresacumulado %>

<%= link_to 'Show', @indicadoresacumulado %> |
<%= link_to 'Back', indicadoresacumulados_path %>
